In [46]:
import pandas as pd
import numpy as np

In [47]:
df = pd.read_csv('nyc_doe.csv', index_col=None)

In [48]:
df.head()

   2010 Census Tract  School Year Grade Level  Count of Students
0                 18     20012002           2                  1
1                 18     20022003           3                  1
2                 18     20032004           K                  1
3                 18     20032004           3                  1
4                 18     20032004           4                  1

In [49]:
CTs = np.unique(df['2010 Census Tract'])
Yrs = np.unique(df['School Year'])
Gs = np.unique(df['Grade Level'])

In [50]:
index = []
for ct in CTs:
    for yr in Yrs:
        for g in Gs:
            index.append((ct, yr, g))

In [51]:
new_df = pd.DataFrame(np.zeros(len(index)), index=index)
new_df.index = pd.MultiIndex.from_tuples(new_df.index)
new_df.index.names = ['2010_CT', 'AY', 'GL']
new_df.columns = ['Final Count of Students']

In [52]:
new_df.head()

                     Final Count of Students
2010_CT AY       GL
18      20012002 1                       0.0
                 2                       0.0
                 3                       0.0
                 4                       0.0
                 5                       0.0

In [53]:
df.columns = ['2010_CT', 'AY', 'GL', 'Count']
df.set_index(['2010_CT', 'AY', 'GL'], inplace=True)

In [54]:
final = new_df.join(df)

In [56]:
final.fillna(0, inplace=True)
final.drop('Final Count of Students', axis=1, inplace=True)

In [57]:
final.head()

                     Count
2010_CT AY       GL
18      20012002 1     0.0
                 2     1.0
                 3     0.0
                 4     0.0
                 5     0.0

In [59]:
test = final.query("AY in [20092010, 20102011]")
train = final.query("AY not in [20092010, 20102011]")

In [61]:
test.to_csv('data/test_with_zeros.csv')
train.to_csv('data/train_with_zeros.csv')