In [26]:
import pandas as pd
import numpy as np
import json
from shapely.geometry import mapping, shape

In [27]:
school_url = "http://services5.arcgis.com/GfwWNkhOj9bNBqoJ/arcgis/rest/services/nysd/FeatureServer/0/query?where=1=1&outFields=*&outSR=4326&f=geojson"

In [24]:
df = pd.read_csv('data/nyc_doe.csv', index_col=None)

In [5]:
df.head()

   2010 Census Tract  School Year Grade Level  Count of Students
0                 18     20012002           2                  1
1                 18     20022003           3                  1
2                 18     20032004           K                  1
3                 18     20032004           3                  1
4                 18     20032004           4                  1

In [6]:
CTs = np.unique(df['2010 Census Tract'])
Yrs = np.unique(df['School Year'])
Gs = np.unique(df['Grade Level'])

In [7]:
index = []
for ct in CTs:
    for yr in Yrs:
        for g in Gs:
            index.append((ct, yr, g))

In [8]:
new_df = pd.DataFrame(np.zeros(len(index)), index=index)
new_df.index = pd.MultiIndex.from_tuples(new_df.index)
new_df.index.names = ['2010_CT', 'AY', 'GL']
new_df.columns = ['Final Count of Students']

In [9]:
new_df.head()

                     Final Count of Students
2010_CT AY       GL
18      20012002 1                       0.0
                 2                       0.0
                 3                       0.0
                 4                       0.0
                 5                       0.0

In [10]:
df.columns = ['2010_CT', 'AY', 'GL', 'Count']
df.set_index(['2010_CT', 'AY', 'GL'], inplace=True)

In [11]:
final = new_df.join(df)

In [12]:
final.fillna(0, inplace=True)
final.drop('Final Count of Students', axis=1, inplace=True)

In [18]:
CTs

array([   18,    20,    22,    30,    34,    36,    38,    44,    46,
          50,    51,    54,    58,    60,    62,    64,    66,    68,
          70,    72,    74,    75,    76,    78,    80,    82,    90,
          94,    96,    98,   100,   102,   104,   106,   108,   110,
         114,   116,   118,   120,   122,   126,   130,   132,   134,
         136,   138,   140,   142,   148,   150,   152,   160,   162,
         164,   166,   168,   170,   172,   174,   176,   178,   180,
         182,   184,   186,   188,   190,   192,   194,   196,   198,
         200,   202,   204,   206,   207,   208,   210,   212,   214,
         216,   218,   220,   221,   222,   228,   230,   232,   234,
         236,   238,   240,   242,   244,   246,   248,   250,   252,
         254,   256,   258,   260,   262,   264,   266,   268,   270,
         272,   274,   276,   278,   280,   282,   284,   286,   288,
         290,   292,   294,   296,   298,   421,   428,   430,   432,
         434,   436,   464,   468,   470,   472,   474,   476,   478,
         480,   484,   486,   488,   489,   490,   492,   494,   726,
         902,   906,  1144,  5201,  5202,  5601,  5602, 12801, 46201,
       50804, 51601, 61002, 69602])

In [14]:
test = final.query("AY in [20092010, 20102011]")
train = final.query("AY not in [20092010, 20102011]")

In [15]:
test.to_csv('data/test_with_zeros.csv')
train.to_csv('data/train_with_zeros.csv')

In [16]:
np.max(train.Count)

105.0